textarea{
  height: 50vh;
  width: 100%;
  margin: 0 0 3vh 0;
  border-color:rgb(251, 192, 42) ;
  border-style:solid ;
  border-radius: 0.5rem;
}

.textarea{
  margin-top: 10vh;
}

label{
  font-weight: bolder;
  font-size: xx-large;
  color: goldenrod;
}

.convert-button{
  width: 9rem;
  margin-bottom: 0.5rem;
}